use strict;
my %CFG;

our $VERSION = 0.01;

=head1 NAME

Config file for Notice

=cut 

$CFG{db_schema} = 'Notice::DB';
$CFG{db_dsn} = "dbi:mysql:database=notice";
$CFG{db_user} = "notice_adminuser";
$CFG{db_pw} = "SET_THIS_TO_YOUR_PASSWORD";
$CFG{tt2_dir} = "templates";
$CFG{using_tinyDNS} = 1;
$CFG{tinyDNS_path} = '/var/www/sites/BytemarkDNS/data';
$CFG{update_dns} = 'sudo /var/www/sites/BytemarkDNS/upload 1>/dev/null';
$CFG{rebuild_dns} = 'sudo nsdc rebuild 1>/dev/null';
$CFG{reload_dns} = 'sudo nsdc reload';


return \%CFG;
